<!DOCTYPE html>
<html>
  <head>
    <title>Eric Gorland - Web Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>MOVIE REVIEWS</h1>

    <h2>showing reviews for random movies!</h2>

    <h3>
      <%= link_to 'Add a Review!', new_review_path %>
    </h3>
    
    <%= yield %>
  </body>
</html>
